@page
@model RazzorPagesExample.Pages.Products.IndexProductModel

@{
    ViewData["Title"] = "IndexProduct";
    int step = 0;
}

<h2>IndexProduct</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ModelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Price)
            </th>
            <th>등록일</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Product) {
        <tr>
            <td>
                @Html.Raw(Library.BoardLibrary.FuncStep(step))
                @Library.StringLibrary.CutStringUnicode(item.Name, 9)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Library.BoardLibrary.FuncShowTime("2019-01-22")
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>

    step++;
    if (step % 4 ==0)
    {
        step = 0;
    }
    
}
    </tbody>
</table>

<vc:product-list></vc:product-list>
